version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname Router
!
boot-start-marker
boot-end-marker
!
!
logging buffered informational
!
aaa new-model
!
!
aaa authentication login default local
aaa authentication enable default none
aaa authorization exec default local 
!
!
!
!
!
aaa session-id common
memory-size iomem 10
!
!
!
!
!
!
!
ip vrf test
!
!
ip dhcp pool guests
 network 192.168.2.0 255.255.255.0
!
!
!
no ip domain lookup
ip cef
no ipv6 cef
!
!
multilink bundle-name authenticated
chat-script gsm "" "ATDT*98#" TIMEOUT 60 CONNECT
license udi pid CISCO881G-G-K9 sn FGL154526KB
license accept end user agreement
license boot module c880-data level advipservices
!
!
username cisco privilege 15 password 0 cisco
!
!
!
!
!
controller Cellular 0
!
! 
!
!
!
l3vpn encapsulation ip InternetVPN
 transport ipv4 source Cellular0
!
!
!
!
!
interface FastEthernet0
 no ip address
 spanning-tree portfast
!
interface FastEthernet1
 no ip address
 spanning-tree portfast
!
interface FastEthernet2
 no ip address
 spanning-tree portfast
!
interface FastEthernet3
 no ip address
 spanning-tree portfast
!
interface FastEthernet4
 no ip address
 shutdown
 duplex auto
 speed auto
!
interface Cellular0
 mtu 1400
 ip address negotiated
 ip virtual-reassembly in
 encapsulation ppp
 ip tcp adjust-mss 1360
 load-interval 60
 dialer in-band
 dialer idle-timeout 20 either
 dialer string gsm
 dialer-group 1
 async mode interactive
 ppp authentication chap callin callout optional
 ppp chap refuse
 ppp ms-chap refuse
 ppp ms-chap-v2 refuse
 ppp pap refuse
!
interface Vlan1
 ip address 192.168.2.254 255.255.255.0
!
router bgp 65000
 bgp log-neighbor-changes
 bgp listen range 0.0.0.0/0 peer-group InternetL3VPN
 no bgp default ipv4-unicast
 timers bgp 7 21
 neighbor InternetL3VPN peer-group
 neighbor InternetL3VPN remote-as 65535
 neighbor InternetL3VPN ebgp-multihop 255
 !
 address-family ipv4
  redistribute connected
 exit-address-family
 !
 address-family vpnv4
  neighbor InternetL3VPN activate
  neighbor InternetL3VPN send-community both
  neighbor InternetL3VPN route-map L3VPN_Internet in
 exit-address-family
 !
 address-family ipv4 vrf cust1
  redistribute connected
  redistribute static
  default-information originate
 exit-address-family
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
ip route 0.0.0.0 0.0.0.0 Cellular0
!
dialer-list 1 protocol ip permit
!
!
route-map L3VPN_Internet permit 10
 set ip next-hop encapsulate l3vpn InternetVPN
!
!
control-plane
!
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 no modem enable
line aux 0
line 3
 exec-timeout 0 0
 script dialer gsm
 modem InOut
 no exec
 transport output none
 rxspeed 7200000
 txspeed 5760000
line vty 0 4
 exec-timeout 60 0
 transport input all
!
end
